from nonebot.default_config import *

HOST = '127.0.0.1'
PORT = 8080
SUPERUSERS = {}
NICKNAME = {'', '', ''}
COMMAND_START = {'', '/', '$'}
API_ROOT = 'http://127.0.0.1:5700'
APP_ID = ''
APP_KEY = ''
IMG_DIR = r''
BAYES = False